@import url('https://fonts.googleapis.com/css?family=Amiri|Cairo|Open+Sans');
//Colors

$frost : #ECFFF8;
$gray : #E3DAFF;
$green : #0F5257;
$magenta : #963D5A;
$darker : #4C191B;

//Fonts
$regular-font : 'Cairo', sans-serif;
$fancy-font : 'Amiri', serif;
$interface-font: 'Open Sans', sans-serif;

//Other
$material-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$border : 3px dashed blue;

/////////////////////////////////////////////////////////////////////
html {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}
body {
  align-self: center;
  display: flex;
  justify-content: center;
  //align-items: center;
  background-color: $darker;
  //padding: 30px;

  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: $material-shadow;
    background-color: $magenta;
    height: calc(100% + 20px);
    padding: 20;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: $interface-font;
      text-transform: uppercase;
      letter-spacing: 3px;
      box-shadow: $material-shadow;
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 1.5em;
      h1 {
        font-family: $interface-font;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: lighter;
        text-shadow: $material-shadow;
        text-align: center;
        color: $frost;
      }

      .form {
        box-shadow: $material-shadow;
        form {
          display: flex;
          flex-direction: column;
          input {
            padding: 1.5em;
            font-size: 1.2em;
            font-family: $regular-font;
            text-align: center;
          }
          select {
            padding: 1em;
            border: 1px solid $green;
            option {
              font-family: $interface-font;
              text-align: center;
            }
          }
          .buttons {
            display: flex;


            #translateBtn {
              flex-grow: 2;
              color: $frost;
              background-color: lighten($green, 10%);
              border: none;
              padding: 12px;
              font-family: $interface-font;
              box-shadow: $material-shadow;
              cursor:pointer;
              &:hover{
                background-color: lighten($green, 25%);
              }

            }
            #clearBtn {
              flex-grow: 1;
              color: $frost;
              background-color: lighten($magenta, 20%);
              border: none;
              padding: 12px;
              font-family: $interface-font;
              box-shadow: $material-shadow;
              cursor:pointer;
              &:hover{
                background-color: lighten($magenta, 35%);
              }
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: $interface-font;
      text-transform: uppercase;

      box-shadow: $material-shadow;
      a {
        margin-left: 3px;
        color: $frost;
        letter-spacing: 1px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }

      }
    }

    .result {
      #result {
        color: $frost;
        font-family: $fancy-font;
        text-shadow: none;

        h1 {
          font-family: $fancy-font;
          text-shadow: none;
          text-transform: capitalize;
          letter-spacing: normal;
          color: lighten($green, 50%);
        }
      }
    }

    .history {
      color: $gray;
      font-family: $fancy-font;
      text-align: center;
      #history {

      }
    }

    .header {
      height: 7em;
      background-color: $green;
      color: $frost;
    }
    .footer {
      height: 3em;
      background-color: darken($green, 5%);
      color: $frost;
    }
  }
}
