@import url('https://fonts.googleapis.com/css?family=Amiri|Cairo|Open+Sans');
//Colors

$frost : #ECFFF8;
$green : #0F5257;
$red : #CD6155;

//Fonts
$regular-font : 'Cairo', sans-serif;
$fancy-font : 'Amiri', serif;
$interface-font: 'Open Sans', sans-serif;

//Other
$material-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/////////////////////////////////////////////////////////////////////

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darken($green, 5%);
  height: 100vh;
  width: 100%;
  margin: 0;



  .container {
    width: 30em;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: $material-shadow;
    background-color: darken($frost, 3%);
    padding: 20;
    @media screen and (max-width: 500px) {
      width: 100%;
      height: 100%;
    }

    .header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: $interface-font;
      text-transform: uppercase;
      letter-spacing: 3px;
      box-shadow: $material-shadow;
      height: 7em;
      background-color: $green;
      color: $frost;
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 1.5em;
      h1 {
        font-family: $regular-font;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: lighter;
        text-shadow: $material-shadow;
        text-align: center;
        color: $green;

      }

      .form {
        box-shadow: $material-shadow;
        form {
          max-width: 100%;
          display: flex;
          flex-direction: column;
          input {
            background-color: $frost;
            border: none;
            max-width: 100%;
            padding: 1.5em;
            font-size: 1.2em;
            font-family: $regular-font;
            text-align: center;
          }
          select {
            padding: 1em;
            border: none;
            background-color: darken($frost, 10%);
            font-family: $interface-font;
            text-transform: capitalize;
            option {
              font-family: $interface-font;
              text-align: center;
            }
          }
          #provs {
            background-color: darken($frost, 30%);
            border-top: 1px darken($frost, 50%) solid;
          }
          .buttons {
            display: flex;


            #translateBtn {
              flex-grow: 2;
              color: $frost;
              background-color: lighten($green, 10%);
              border: none;
              padding: 12px;
              font-family: $interface-font;
              cursor:pointer;
              &:hover{
                background-color: lighten($green, 20%);
              }

            }
            #clearBtn {
              flex-grow: 1;
              color: $frost;
              background-color: $red;
              border: none;
              padding: 12px;
              font-family: $interface-font;
              cursor:pointer;
              &:hover{
                background-color: lighten($red, 10%);
              }
            }
          }
        }
      }

      .result {
        margin-top: 1em;
        max-height: 500px;
        height: 11em;
        h3 {
          text-transform: uppercase;
          color: $red;
          text-align: center;
          font-family: $interface-font;
        }
        #result {
          color: $green;
          font-family: $fancy-font;
          text-shadow: none;

          h1 {
            font-family: $fancy-font;
            text-shadow: none;
            text-transform: capitalize;
            letter-spacing: normal;
            color: $green;
          }
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 0 10px;
      font-family: $interface-font;
      text-transform: uppercase;
      height: 3em;
      background-color: darken($green, 5%);
      color: $frost;
      box-shadow: $material-shadow;
      a {
        margin-left: 3px;
        color: $frost;
        letter-spacing: 1px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          color: $red;
        }

      }
    }



  }
}
